.page {
    display: flex;
    height: 100%;
}

#date {
    text-align-last: center;
    margin: 4vh auto 0 auto;
    display: flex;
    align-items: center;
    width: 280px;
}

.meals-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
}

.meal {
    display: flex;
    flex-direction: column;
    background-color: #ffffffe3;
    margin: 2%;
    width: 28%;
    min-width: 240px;
    height: 15vw;
    min-height: 200px;
    border: solid 2px green;
    border-radius: 7px;
    overflow-y: auto;
}

.form-control {
    width: 200px !important;
    margin: 0 auto 0 auto;
}

.meal-name {
    text-align: center;
    border-bottom: solid 3px green;
    padding: 2%;
    font-weight: 500;
    border-radius: 7px;
    width: 100%;
}

.product.row {
    margin: 0 !important;
    padding: 0 2%;
}

.product.row .prod-bju, .product.row .prod-k {
    font-size: small;
    align-self: center;
}

.header.product.row {
    color: #114630;
    opacity: 0.8;
}

.prod-name {
    width: 60%;
}

.prod-bju {
    width: 20%;
    text-align: center;
}

.prod-k {
    width: 20%;
    text-align: center;
}

.meal::-webkit-scrollbar {
    width: 3px; /* width of the entire scrollbar */
}

.meal::-webkit-scrollbar-track {
    background: #9ec49e; /* color of the tracking area */
}

.meal::-webkit-scrollbar-thumb {
    background-color: #9ec49e; /* color of the scroll thumb */
    border-radius: 40px; /* roundness of the scroll thumb */
    border: 3px solid green; /* creates padding around scroll thumb */
}

.add-button {
    margin: 4vh auto 0 auto;
    display: block !important;
    background-color: #114630 !important;
    border: none !important;
    width: 100% !important;
    border: solid 2px white;
    padding: .75rem !important;
}

.modal-dialog {
    max-width: 550px !important;
}

.modal-title {
    width: 100%;
    line-height: 2.5 !important;
    border: solid 2px green;
    border-radius: 10px;
    text-align: center;
}

.product-option select, .product-option input, .product-option button {
    margin: 0 auto !important;
}

.ing-button {
    background-color: #114630;
    color: white;
    border-radius: 5px;
}

.modal-footer .btn.btn-primary {
    background-color: #114630;
    border: none;
    padding: 1.5% 5% !important;
}

.modal-footer {
    justify-content: center !important;
}

.total {
    background-color: #114630;
    margin-top: 4vh;
    padding: 5% 3%;
    border-radius: 10px;
}

.total-name {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: larger;
}

.progress {
    height: 2rem !important;
    margin: 1% 0 5% 0;
}

.progress-descr {
    display: flex;
    justify-content: space-between;
    color: white;
}