<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="file"
              fileName="C:\Users\Masha\IdeaProjects\Be-healthy\by\fpmibsu\web\WEB-INF\logs\test.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name= "by.fpmibsu.be_healthy.service" level="debug" additivity="false">
            <AppenderRef ref="file"/>
        </Logger>
        <Logger name= "by.fpmibsu.be_healthy.dao" level="trace" additivity="false">
            <AppenderRef ref="file"/>
        </Logger>
        <Logger name= "by.fpmibsu.be_healthy.servlet" level="debug" additivity="false">
            <AppenderRef ref="file"/>
        </Logger>

        <Root level="debug" additivity="false">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>


</Configuration>